In [1]:
import geopandas as gpd
shapefile = 'ne_110m_admin_0_countries/ne_110m_admin_0_countries.shp'#Read shapefile using Geopandas
gdf = gpd.read_file(shapefile)[['ADMIN', 'ADM0_A3', 'geometry']]#Rename columns.
gdf.columns = ['country', 'country_code', 'geometry']
gdf.head()

,country,country_code,geometry
0,Fiji,FJI,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000..."
1,United Republic of Tanzania,TZA,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982..."
2,Western Sahara,SAH,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,Canada,CAN,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,United States of America,USA,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000..."

In [2]:
print(gdf[gdf['country'] == 'Antarctica'])#Drop row corresponding to 'Antarctica'
gdf = gdf.drop(gdf.index[159])

        country country_code  \
159  Antarctica          ATA

                                              geometry
159  MULTIPOLYGON (((-48.66062 -78.04702, -48.15140...

In [4]:
import pandas as pd
import numpy as np
datafile = 'GlobalLandTemperaturesByCountry.csv'#Read csv file using pandas
data = pd.read_csv(datafile, names = ['dt', 'Avg Temp', 'Avg Temp Uncertainty', 'Country'], skiprows = 1)
data['dt'] = pd.to_datetime(data['dt'])
# We convert the values to datetime values, so they are easier to manipulate
data['year'] = data['dt'].apply(lambda x: x.year)
# We are only looking at data from the year 2013
data = data[data['year'] == 2013]
data.head()

             dt  Avg Temp  Avg Temp Uncertainty Country  year
3230 2013-01-01    -2.569                 0.603   Åland  2013
3231 2013-02-01    -1.782                 0.550   Åland  2013
3232 2013-03-01    -4.779                 0.698   Åland  2013
3233 2013-04-01     1.701                 0.543   Åland  2013
3234 2013-05-01    10.327                 0.612   Åland  2013

In [30]:
print(np.unique(data['Country']))

['Afghanistan' 'Africa' 'Albania' 'Algeria' 'American Samoa' 'Andorra'
 'Angola' 'Anguilla' 'Antarctica' 'Antigua And Barbuda' 'Argentina'
 'Armenia' 'Aruba' 'Asia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas'
 'Bahrain' 'Baker Island' 'Bangladesh' 'Barbados' 'Belarus' 'Belgium'
 'Belize' 'Benin' 'Bhutan' 'Bolivia' 'Bonaire, Saint Eustatius And Saba'
 'Bosnia And Herzegovina' 'Botswana' 'Brazil' 'British Virgin Islands'
 'Bulgaria' 'Burkina Faso' 'Burma' 'Burundi' 'Cambodia' 'Cameroon'
 'Canada' 'Cape Verde' 'Cayman Islands' 'Central African Republic' 'Chad'
 'Chile' 'China' 'Christmas Island' 'Colombia' 'Comoros' 'Congo'
 'Congo (Democratic Republic Of The)' 'Costa Rica' 'Croatia' 'Cuba'
 'Curaçao' 'Cyprus' 'Czech Republic' "Côte D'Ivoire" 'Denmark'
 'Denmark (Europe)' 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador'
 'Egypt' 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Ethiopia'
 'Europe' 'Falkland Islands (Islas Malvinas)' 'Faroe Islands'
 'Federated States Of Micronesia' 'Fiji' 'Finland' 'France'
 'France (Europe)' 'French Guiana' 'French Polynesia'
 'French Southern And Antarctic Lands' 'Gabon' 'Gambia' 'Gaza Strip'
 'Georgia' 'Germany' 'Ghana' 'Greece' 'Greenland' 'Grenada' 'Guadeloupe'
 'Guam' 'Guatemala' 'Guernsey' 'Guinea' 'Guinea Bissau' 'Guyana' 'Haiti'
 'Heard Island And Mcdonald Islands' 'Honduras' 'Hong Kong' 'Hungary'
 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Isle Of Man'
 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jersey' 'Jordan' 'Kazakhstan' 'Kenya'
 'Kingman Reef' 'Kiribati' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon'
 'Lesotho' 'Liberia' 'Libya' 'Liechtenstein' 'Lithuania' 'Luxembourg'
 'Macau' 'Macedonia' 'Madagascar' 'Malawi' 'Malaysia' 'Mali' 'Malta'
 'Martinique' 'Mauritania' 'Mauritius' 'Mayotte' 'Mexico' 'Moldova'
 'Monaco' 'Mongolia' 'Montenegro' 'Montserrat' 'Morocco' 'Mozambique'
 'Namibia' 'Nepal' 'Netherlands' 'Netherlands (Europe)' 'New Caledonia'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'Niue' 'North America'
 'North Korea' 'Northern Mariana Islands' 'Norway' 'Oceania' 'Oman'
 'Pakistan' 'Palau' 'Palestina' 'Palmyra Atoll' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Puerto Rico' 'Qatar' 'Reunion' 'Romania' 'Russia' 'Rwanda'
 'Saint Barthélemy' 'Saint Kitts And Nevis' 'Saint Lucia' 'Saint Martin'
 'Saint Pierre And Miquelon' 'Saint Vincent And The Grenadines' 'Samoa'
 'San Marino' 'Sao Tome And Principe' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Seychelles' 'Sierra Leone' 'Singapore' 'Sint Maarten' 'Slovakia'
 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa' 'South America'
 'South Georgia And The South Sandwich Isla' 'South Korea' 'Spain'
 'Sri Lanka' 'Sudan' 'Suriname' 'Svalbard And Jan Mayen' 'Swaziland'
 'Sweden' 'Switzerland' 'Syria' 'Taiwan' 'Tajikistan' 'Tanzania'
 'Thailand' 'Timor Leste' 'Togo' 'Tonga' 'Trinidad And Tobago' 'Tunisia'
 'Turkey' 'Turkmenistan' 'Turks And Caicas Islands' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United Kingdom (Europe)'
 'United States' 'Uruguay' 'Uzbekistan' 'Venezuela' 'Vietnam'
 'Virgin Islands' 'Western Sahara' 'Yemen' 'Zambia' 'Zimbabwe' 'Åland']

In [31]:
country_list = ["Argentina", "Austria", "Australia", "Belgium", "Bolivia", "Brazil", "Canada", "China", "Colombia",
"Costa Rica", "Czech Republic", "Germany", "Denmark (Europe)", "Dominican Republic", "Ecuador", "Estonia", "Spain",
"Finland", "France", "United Kingdom (Europe)", "Greece", "Guatemala", "Hong Kong", "Honduras", "Hungary", "India", "Ireland",
"Israel", "Italy", "Japan", "Lithuania", "Luxembourg", "Latvia", "Mexico", "Malaysia", "Netherlands", "Norway", 
"New Zealand", "Paraguay", "Peru", "Philippines", "Poland", "Portugal", "Sweden", "Singapore", "South Korea", "El Salvador", 
"Turkey", "Taiwan", "United States", "Uruguay"]

In [32]:
# Filtering by the counties that are provided by the spotify API
# filtered_df = data[(data['Country'] == 'Argentina') | (data['Country'] == 'Austria') | (data['Country'] == 'Australia') | 
#                    (data['Country'] == 'Belgium') | (data['Country'] == 'Bolivia') | (data['Country'] == 'Brazil') | 
#                    (data['Country'] == 'Canada') | (data['Country'] == 'China') | (data['Country'] == 'Colombia') |
#                    (data['Country'] == 'Costa Rica') | (data['Country'] == 'Czech Republic') | (data['Country'] == 'Germany') |
#                    (data['Country'] == 'Denmark(Europe)') | (data['Country'] == 'Dominican Republic')]
filtered_df = data.query("Country in @country_list") #got it
#for country in country_list:
    #if data[(data['Country'] == country)]:
        #filtered_df.append(country)
filtered_df.head(120)
filtered_df.to_csv('temp')

In [33]:
filtered_df.head(120)

               dt  Avg Temp  Avg Temp Uncertainty             Country  year
27358  2013-01-01    22.477                 0.222           Argentina  2013
27359  2013-02-01    21.145                 0.274           Argentina  2013
27360  2013-03-01    17.366                 0.304           Argentina  2013
27361  2013-04-01    15.838                 0.253           Argentina  2013
27362  2013-05-01    11.745                 0.166           Argentina  2013
...           ...       ...                   ...                 ...   ...
151131 2013-08-01    27.860                 0.772  Dominican Republic  2013
151132 2013-09-01    28.046                 0.990  Dominican Republic  2013
152895 2013-01-01    22.659                 0.349             Ecuador  2013
152896 2013-02-01    22.525                 0.322             Ecuador  2013
152897 2013-03-01    22.983                 0.597             Ecuador  2013

[120 rows x 5 columns]

In [35]:
tempdict = dict()
for country in country_list:
    meantemp = np.mean(filtered_df['Avg Temp'].where(filtered_df['Country'] == country))
    tempdict[country] = meantemp
print(tempdict)

{'Argentina': 14.457124999999998, 'Austria': 8.055125, 'Australia': 22.142874999999997, 'Belgium': 10.060125, 'Bolivia': 20.640874999999998, 'Brazil': 25.348125, 'Canada': -1.6406666666666676, 'China': 9.295, 'Colombia': 25.579500000000003, 'Costa Rica': 26.457555555555555, 'Czech Republic': 9.281, 'Germany': 9.23525, 'Denmark (Europe)': 8.516375, 'Dominican Republic': 26.290333333333333, 'Ecuador': 22.264125, 'Estonia': 6.961749999999999, 'Spain': 14.858875000000001, 'Finland': 4.064125, 'France': 13.584625, 'United Kingdom (Europe)': 9.10825, 'Greece': 17.1535, 'Guatemala': 24.291333333333334, 'Hong Kong': 23.690375000000003, 'Honduras': 25.732333333333333, 'Hungary': 12.3015, 'India': 25.413249999999998, 'Ireland': 9.97475, 'Israel': 21.222375, 'Italy': 14.165, 'Japan': 12.964749999999999, 'Lithuania': 7.803999999999999, 'Luxembourg': 9.90025, 'Latvia': 7.322375000000001, 'Mexico': 22.219222222222225, 'Malaysia': 26.9735, 'Netherlands': 9.8565, 'Norway': 1.7353750000000001, 'New Zealand': 11.0885, 'Paraguay': 22.817749999999997, 'Peru': 19.97625, 'Philippines': 27.416750000000004, 'Poland': 9.257875, 'Portugal': 15.88925, 'Sweden': 4.199750000000001, 'Singapore': 27.602874999999997, 'South Korea': 13.7605, 'El Salvador': 25.91077777777778, 'Turkey': 14.026625, 'Taiwan': 23.015, 'United States': 11.297111111111112, 'Uruguay': 16.754375}
dict_values([14.457124999999998, 8.055125, 22.142874999999997, 10.060125, 20.640874999999998, 25.348125, -1.6406666666666676, 9.295, 25.579500000000003, 26.457555555555555, 9.281, 9.23525, 8.516375, 26.290333333333333, 22.264125, 6.961749999999999, 14.858875000000001, 4.064125, 13.584625, 9.10825, 17.1535, 24.291333333333334, 23.690375000000003, 25.732333333333333, 12.3015, 25.413249999999998, 9.97475, 21.222375, 14.165, 12.964749999999999, 7.803999999999999, 9.90025, 7.322375000000001, 22.219222222222225, 26.9735, 9.8565, 1.7353750000000001, 11.0885, 22.817749999999997, 19.97625, 27.416750000000004, 9.257875, 15.88925, 4.199750000000001, 27.602874999999997, 13.7605, 25.91077777777778, 14.026625, 23.015, 11.297111111111112, 16.754375])

In [ ]:
df.info()

In [13]:
# Copied and pasted code to initialize the interactive map
from bokeh.io import output_notebook, show, output_file
from bokeh.plotting import figure
from bokeh.models import GeoJSONDataSource, LinearColorMapper, ColorBar
from bokeh.palettes import brewer#Input GeoJSON source that contains features for plotting.

geosource = GeoJSONDataSource(geojson = json_data)#Define a sequential multi-hue color palette.
palette = brewer['YlGnBu'][8]#Reverse color order so that dark blue is highest obesity.
palette = palette[::-1]#Instantiate LinearColorMapper that linearly maps numbers in a range, into a sequence of colors.
color_mapper = LinearColorMapper(palette = palette, low = 0, high = 40)#Define custom tick labels for color bar.
tick_labels = {'0': '0%', '5': '5%', '10':'10%', '15':'15%', '20':'20%', '25':'25%', '30':'30%','35':'35%', '40': '>40%'}#Create color bar. 
color_bar = ColorBar(color_mapper=color_mapper, label_standoff=8,width = 500, height = 20,
border_line_color=None,location = (0,0), orientation = 'horizontal', major_label_overrides = tick_labels)#Create figure object.
p = figure(title = 'Global Temperature Data, 2013', plot_height = 600 , plot_width = 950, toolbar_location = None)
p.xgrid.grid_line_color = None
p.ygrid.grid_line_color = None#Add patch renderer to figure. 
p.patches('xs','ys', source = geosource,fill_color = {'field' :'Avg Temp', 'transform' : color_mapper},
          line_color = 'black', line_width = 0.25, fill_alpha = 1)#Specify figure layout.

p.add_layout(color_bar, 'below')#Display figure inline in Jupyter Notebook.
output_notebook()#Display figure.
show(p)

NameError: name 'json_data' is not defined